<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout (~{::body},~{::head/title})}">
<head>
    <title>Recipe List</title>
</head>
<body>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h1 th:text="${'List of recipes'}"></h1>
    <a class="float-right" th:href="@{/recipes/create}">Add new recipe</a>
</div>
<ul class="list-group">
    <li class="list-group-item list-group-item-action"  th:each="recipe : ${recipes}">
        <a th:text="${recipe.description}" th:href="@{/recipes/} + ${recipe.id}"></a>
    </li>
</ul>
</body>
</html>