<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout :: layout (~{::body},~{::head/title})}">
<head>
    <title>Ingredient List</title>
</head>
<body>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h1 th:text="${'Ingredient list of '+ recipe.description}"></h1>
    <a class="float-right" th:href="@{/ingredients/create}">Add new ingredient</a>
</div>
<ul class="list-group">
    <li class="list-group-item list-group-item-action"
        th:each="ingredient : ${ingredients}">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <a th:text="${#strings.capitalize(ingredient.description)}" th:href="@{/ingredients/} + ${ingredient.id}"></a>
            <div class="btn-group btn-group-sm">
                <a class="btn btn-outline-primary" th:href="@{/ingredients/} + ${ingredient.id}+'/update'">Update</a>
                <a class="btn btn-outline-danger" th:href="@{/ingredients/} + ${ingredient.id}+'/delete'">Delete</a>
            </div>
        </div>

    </li>
</ul>
</body>
</html>